body{
    background-size:cover;
    background-repeat:no-repeat;
    /* background: linear-gradient(15deg,#00416A,#E4E5E6); */
    margin: 0;
}

#root{
    background-size:cover;
    background-repeat:no-repeat;
    margin: 0;
    /* background: linear-gradient(15deg,#00416A,#E4E5E6); */
}